.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.btn{
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-1{
    background: var(--primary);
    color: var(--dark);
}
.btn-1:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-2{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-2:hover{
    background: var(--primary);
    color: var(--dark);
}